@use '../util/' as *;
@use '../globals/colors.scss' as *;
html {
    font-size: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--black);
    font-family: Font;
    font-weight: 400;
}

p {
    cursor: default;
}

.hidden {
    visibility: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 200ms;
    opacity: 1;
    pointer-events: all;
    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
    @include breakpoint("large") {
        visibility: hidden;
    }
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: min-content;
    margin: 20px 0 0 0;
    text-decoration: none;
    &>img {
        height: 80%;
    }
    &>h1 {
        position: relative;
        font-size: rem(35);
        font-weight: 700;
        text-transform: capitalize;
        margin: 0 10px 0 5px;
        color: var(--lightgray);
    }
}
.bar-info-song__content {
    position: relative;
    padding: 16px 0 32px 0;
    height: fit-content;
    @include breakpoint-down("small") {
        padding: 0 0 24px 0;
    }
    @include breakpoint-down("xsmall") {
        padding: 0 0 16px 0;
    }
    &__song {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 24px 8px 0px;
        flex-direction: row;
        @include breakpoint-down("small") {
            padding: 8px 8px 8px 0px;
        }
        @include breakpoint-down("xsmall") {
            padding: 8px 4px 8px 0px;
        }
        &__left-content {
            height: inherit;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 25vw;
            @include breakpoint-down("low-medium") {
                width: 50vw;
            }
            @include breakpoint-down("xsmall") {
                padding: 8px 4px 8px 0px;
            }
            &>button {
                position: relative;
                cursor: pointer;
                outline: none;
                border-radius: 100%;
                border: none;
                background: none;
                padding: 8px;
                opacity: 1;
                transition: 0.2s;
                color: $lightgray;
            }
            &__img-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 16px;
                height: 64px;
                @include breakpoint-down("xsmall") {
                    height: 58px;
                }
                &>img {
                    height: 100%;
                    width: auto;
                }
            }
            &__artist-title-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                &__title {
                    color: $lightgray;
                    justify-self: flex-start;
                    word-break: break-all;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: inherit;
                    font-size: rem(22);
                    text-transform: none;
                    @include breakpoint-down("large") {
                        font-size: rem(19);
                    }
                }
                &__artist {
                    color: $lightgray;
                    word-break: break-all;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: rem(16);
                    opacity: 0.8;
                    @include breakpoint-down("large") {
                        font-size: rem(15);
                    }
                }
            }
        }
        &__middle-content {
            @include breakpoint-down("low-medium") {
                visibility: hidden;
                width: 0;
            }
            & > div {
                color: $lightgray;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: rem(18);
            }
        }
        &__right-content {
            display: flex;
            flex-direction: row;
            justify-content: right;
            gap: 16px;
            @include breakpoint-down("small") {
                transform: scale(0.8);
                gap: 4px
            }
            @include breakpoint-down("xsmall") {
                transform: scale(0.8);
                gap: 2px;
            }
            & > div {
                align-self: center;
            }
            &__like {
                border: none;
                background: none;
                color: $lightgray;
                cursor: pointer;
            }
            &__duration {
                color: $lightgray;
                width: max-content;
                justify-content: space-around;
                font-size: rem(16);
                text-align: right;
                @include breakpoint-down("xsmall") {
                    width: 0;
                    visibility: hidden;
                }
            }
            &__options {
                color: $lightgray;
                text-align: right;
                cursor: pointer;
            }
        }
        &.playing {
            .bar-info-song__content__song__left-content__artist-title-container__title {
                color: $purple5;
            }
        }
        &.hide {}
        &.selected {
            .bar-info-song__content__song__right-content__options {
                opacity: 1;
            }
            background-color: #ffffff10;
        }
        &:hover {
            .bar-info-song__content__song__right-content__options {
                opacity: 1;
            }
            background-color: #ffffff20;
        }
    }
}