@use '../util/' as *;
html {
    font-size: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--black);
    font-family: Font;
    font-weight: 400;
}

p {
    cursor: default;
}

.hidden {
    visibility: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 200ms;
    opacity: 1;
    pointer-events: all;
    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
    @include breakpoint("large") {
        visibility: hidden;
    }
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: min-content;
    margin: 20px 0 0 0;
    text-decoration: none;
    &>img {
        height: 80%;
    }
    &>h1 {
        position: relative;
        font-size: rem(35);
        font-weight: 700;
        text-transform: capitalize;
        margin: 0 10px 0 5px;
        color: var(--lightgray);
    }
}