$white: hsl(0, 0%, 100%);
$black: #0b0C10;
$black1: #12141b;
$black2: #171820;
$black3: #1d1e27;
$black4: #362941;
$darkgray: #1b1d25;
$darkgray50prc: #25273388;
$lightgray: #d8d8d8;
$lightgray1: #b8b8b8;
$lightgray2: #797979;
$lightgray5prc: #c5c6c715;
$lightgray10prc: #c5c6c728;
$lightgray30prc: #c5c6c749;
$lightpurple: #7e008f;
$lighterpurple: #a101b6;
$purple: #26002b;
$purple2: #4c1964;
$purple3: #710080;
$purple4: #9502a8;
$purple5: #b600ce;
$purple6: #e100ff;
$purple220: #45004e6e;
$gradient: linear-gradient(to left, $lightpurple, #410f9b);